<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Cars</title>
</head>
<body>



  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Price</th>
      <th scope="col">Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="singleCar: ${car}">
      <td th:text="${singleCar.model}"/>
      <td th:text="${singleCar.price}"/>
      <td th:text="${singleCar.color}"/>
    </tr>
    </tbody>
  </table>
  <br>
  <br>



</body>
</html>